body,
ul,
li,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
ul,
li {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

main {
  margin-top: 15vh;
  min-height: 75vh;
  box-sizing: border-box;
}
@media screen and (min-width: 992px) {
  main {
    margin-top: 1rem;
  }
}

a {
  text-decoration: none;
  color: #001759;
  font-family: "BC-Falster-Grotesk-Regular", Arial;
}

footer {
  background-color: #00103e;
  height: 8vh;
  color: #fff;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font-family: "Roboto-Mono-Regular", Arial;
}

.visually-hidden {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}